<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="\static\styles.css"> 
    <script src="\static\scripts.js"></script> 
</head>
<body>
    <section id="welcome-screen" class="screen hidden">
        <div class="content">

            <h1 class="text-to-user">Hello, {{first_name}}</h1>

            <div>
                <img src="\static\male-pic.png">
                <img src="\static\female-pic.png">
            </div>

            <h1>Kindly select your gender below</h1>

            <div>
                <form method="POST" action="">
                    <button class="btn" name="0" id="male-button">Male</button>
                    <button class="btn" name="1" id="female-button">Female</button>
                </form>
            </div>

        </div>
    </section>
</body>
</html>