<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="\static\styles.css"> 
    <script src="\static\scripts.js"></script> 
</head>
<body>
    <section id="welcome-screen" class="screen hidden">
        <div class="content">
            <h1>Hello, {{first_name}}</h1>

            <form method="POST" action="">
                <input class="btn" id="male-button">Male</button>
                <input class="btn" id="female-button">Female</button>
            </form>

        </div>
    </section>
</body>
</html>