<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommender</title>
    <link rel="stylesheet" href="\static\styles.css">
</head>
<body>

    <!-- Sign In Screen -->
    <section id="welcome-screen" class="screen hidden">

        <img src="\static\sign-up-in-image.png">

        <div class="content">

            <h3 align="center">Sign In</h3>

            <form method="POST" action="">

                <label for="username">Email</label>
                <input type="text" name="email" id="username" placeholder="Email Address">

                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">

                <!-- <a href="#" class="forgot-password">Forgot Password?</a> -->

                <button id="signin-button" class="btn" type="submit">Sign In</button>

            </form>

            <p><a href={{ url_for('auth.signup') }} id="signup-link" class="signup">Don't have an account? Sign up</a></p>

        </div>
    </section>

    <script src="\static\scripts.js"></script>
</body>
</html>
