<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Book Recommender</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="\static\styles.css">
    </head>
    <body>

        <!-- Sign Up Screen -->
        <section id="welcome-screen" class="screen hidden">

            <div>
                <img src="\static\sign-up-in-image.png">
            </div>

            <div class="content">

                <h3 align="center">Sign Up</h3>

                <form method="POST" action="">

                    <label for="email">Email</label>
                    <input type="text" name = "email" id="email" placeholder="Email Address">

                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" placeholder="Enter First Name">

                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" placeholder="Enter Last Name">

                    <label for="password1">Password</label>
                    <input type="password" name ="password1" placeholder=" Enter Password">

                    <label for="password2">Confirm Password</label>
                    <input type="password" name ="password2" placeholder="Enter Password">

                    <button type="submit" id="signin-button" class="btn">Sign Up</button>

                </form>
                
                <p><a href= {{ url_for('auth.login', existence=0) }} id="signup-link" class="signup">Already have an account? Sign In</a></p>
            </div>
        </section>
        
        <script src="\static\scripts.js"></script>
    </body>
</html>